<!DOCTYPE html>
<html lang="pt_BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unama - Obrigado</title>
    <link rel="stylesheet" href="/static/css/ty-page.css">
</head>

<body>
    <div id="secundaria" class="background">
        <h1>Entraremos em contato o mais breve possível, aguarde!</h1>
        <picture>
            <source srcset="static/img/desktop/desconto.png" media="(min-width: 768px)">
            <img src="/static/img/mobile/desconto.png" alt="60% de desconto">
        </picture>
    </div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <a href="https://wa.me/5591980879681" style="position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
            z-index:1000;" target="_blank">
            <i style="margin-top:16px" class="fa fa-whatsapp"></i>
</body>

</html>